/* Basic sample */

body{
	overflow:hidden;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:65%;
	left:70%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1844px;
	height:800px;
	left:-922px;
	top:-400px;
}

.flipbook-viewport .flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    #font-weight:bold;
}

.flipbook-viewport .page{
	width:922px;
	height:800px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
	#line-height:300px;
    #font-size:20px;
    #text-align:center;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.item {
  display:block;
  clear: both;
  #margin: 0,0,0,0;
  font-size: 20px;
  text-align:center;
}

.item img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: baseline;
  box-shadow: 2px 2px 5px #631;
  border-radius: 75px;
}

.item-block:hover {
  opacity: 1;
}

.item h5 {
  width: 400px;
  height: 40px;
  font-weight: normal;
  font-size: 20px;
  background-color: #8E0002;
  color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #631;
  margin-left: 30px;
  margin-top: 20px;
  #padding-top: -90px;

}

.item a:hover {
  text-decoration: none;
}

.item-block {
  #width: 150px;
  height: 150px;
  display: inline-block;
  opacity: 0.4;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}

.item-block sup {
  color: #8E0002;
  padding-left: 10px;
}

.name {
  font-weight: normal;
  font-size: 15px;
}